.contact-page {
  margin-top: 0px;
  padding: 0px;
  height: 100vh;
  background-image: url("../../assets/contactBg.jpg");

  width: 100%;

  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: polygon(11% 0,
      100% 0,
      100% 20%,
      100% 80%,
      100% 100%,
      0 100%,
      0% 80%,
      0 22%);
  clip-path: polygon(11% 0,
      100% 0,
      100% 20%,
      100% 80%,
      100% 100%,
      0 100%,
      0% 80%,
      0 22%);
}

.contact-svgs {
  width: 40px;
  height: 40px;
  background-color: rgb(255, 242, 242, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}

.contact-container {
  box-sizing: border-box;

  width: 35%;
  height: 500px;
  border: 1px solid whitesmoke;
  margin: 20px auto;
  background-color: #ab131b;
}

.contact-container h1 {
  text-align: center;
  font-size: 35px;
  color: wheat;
  font-family: "Baloo 2", cursive;
  text-transform: uppercase;
}

.social-links {
  display: inline-block;
}

.social-links a {
  display: inline-block;
  margin-right: 32px;
  text-align: center;
  line-height: 40px;
}

.social-links a:hover {
  transition: width 2s, height 2s, transform 2s;
  color: gray !important;
}

i {
  color: wheat;
}

.phone,
.map,
.social-links,
.email {
  margin-left: 70px;
  margin-bottom: 15px;
}

.contact-container p {
  margin-top: 5px;
  font-size: 18px;
  font-family: "Baloo 2", cursive;
  color: wheat;
}

.map p {
  line-height: 24px;
}

.social-links p {
  line-height: 24px;
  margin-bottom: 10px;
  color: wheat;
}

.social-links i:hover {
  background-color: rgb(3, 77, 99);
  outline-color: rgb(243, 198, 126);
}

@media (max-width: 574px) {
  .contact-page {
    margin-top: 20px;
    padding: 0px;
    height: 100vh;
    background-image: url("../../assets/contactBg.jpg");

    width: 100%;

    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .email>p {
    font-size: 18px !important;
  }

  .contact-svgs {
    width: 40px;
    height: 40px;
    background-color: rgb(255, 242, 242, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
  }

  .contact-container {
    box-sizing: border-box;

    width: 94%;
    height: 500px;
    border: 1px solid whitesmoke;
    margin: 20px auto;
    background: linear-gradient(316deg,
        rgb(11 131 121) 50%,
        rgb(15 158 113) 75%,
        rgb(17 195 150) 100%);
  }

  .contact-container h1 {
    text-align: center;
    font-size: 30px;
    color: wheat;
    font-family: "Times New Roman", Times, serif;
    text-transform: uppercase;
  }

  .phone>p {
    font-size: 18px !important;
  }

  .social-links {
    display: inline-block;
  }

  .social-links a {
    display: inline-block;
    margin-right: 15px;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
  }

  .social-links a:hover {
    transition: width 2s, height 2s, transform 2s;
    border-radius: 5px;
    background-color: rgb(3, 77, 99);
  }

  .phone,
  .map,
  .social-links,
  .email {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .contact-container p {
    margin-top: 5px;
    font-size: 16px;
    font-family: "Baloo 2", cursive;
    color: rgb(17, 16, 16);
  }

  .map p {
    line-height: 20px;
    font-size: 18px;
  }

  .social-links p {
    line-height: 24px;
    margin-bottom: 10px;
    font-size: 18px;
  }

  .social-links i:hover {
    outline-color: rgb(243, 198, 126);
  }
}