.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
    background-color: #f8f8f8;
  }
  
  .login-container {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form {
    display: flex;
    flex-direction: column;
    width: 250px;
  }
  
  input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .btn {
    background-color: #0f9675;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn:hover {
    background-color: #cfe3df;
    color: #000;
  }
  
  .forgot-password {
    text-align: center;
    color: #777;
    cursor: pointer;
  }
  
  .register-link {
    margin-top: 20px;
    text-align: center;
  }
  
  .register-link p {
    margin-bottom: 5px;
    color: #777;
  }
  
  .register-link a {
    color: #ab131b;
    text-decoration: none;
  }  

  .register-link a:hover {
    font-weight: bold;
  }